<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog-delete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>

       {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'new-blog' %}">Create Blog</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}


    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'searchblog' %}" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" id="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
 <center>
<form action="" method="post">{% csrf_token %}
     <h2> Are you sure you want to delete the blog <b style="color:red">"{{ blog.title }}??</h2>

<div style="margin-bottom:200px;" >
                <button  type="submit" style="background-color:#c14013;margin-top:10px;border-radius:6px; height:30px;height:50px; width:120px;">Yes, Delete</button>
                <button type="submit" style="background-color:#2fd82f;margin-top:10px;border-radius:6px; height:30px;height:50px; width:120px;"><a  href="{% url 'blog-detail' blog.slug %}">Cancel</a></button>
            </div>
    </form>
 </center>
</body>
</html>
