{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <style>
        input{
         height:30px;
         width:300px;
         border-radius:20px;
        }

    </style>
</head>
<body>
<center>
    <h2 style="margin-top:30px;">Change Password</h2>

    <div>
<form method="post" action="{% url 'change_password' %}" style="margin-top:100px;">
    {% csrf_token %}
   {{ form.as_p }}
<input type="submit" value="Submit" style="width:100px;height:30px;background-color:black;color:white;">

</form>
        </div>
</center>


</body>
</html>
